{
    "extends": [
        "@tada5hi/eslint-config-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "ignorePatterns": ["**/dist/*"],
    "globals": {
        "NodeJS": true
    },
    "rules": {
        "class-methods-use-this": "off",
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": [
                    "**/*.test.js",
                    "**/*.test.ts",
                    "**/*.spec.js",
                    "**/*.spec.ts",
                    "**/rollup.config.mjs"
                ]
            }
        ],
        "no-continue": "off",
        "no-shadow": "off",
        "no-use-before-define": "off",
        "no-underscore-dangle": "off",

        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-use-before-define": "off"
    }
}
